* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
}

.HeaderTitle h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.HeaderTitle span {
    color: #19B3D3;
}

.github_btn {
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.github_btn:hover {
    background: #0B87A6;
}

.sidebar {
    z-index: 1;
    top: 0;
    background: #22242A;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

/*Sub menu*/
.sidebar .menu ul{
    color: yellow;
    font-size: 10px;
    margin-left: 0;
    padding-left: 0;
    display: none;
}

/*Hyperlinks in sub-menu*/
.sidebar .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

/*Hyperlinks in sub-menu*/
.sidebar .menu li a:hover {
    color: yellow;
}

/*Main menu*/
.sidebar .menu li {
    list-style: none;
    line-height: 40px;
    padding-left: 20px;
    transition: 0.5s;
    transition-property: background;
}

/*Main Menu items*/
.sidebar .menu li label {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 70px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar .menu li label:hover {
    color: #0B87A6;
}

.content {
    margin-top: 10px;
    padding: 80px;
    margin-left: 200px;
    background-position: center;
    background-size: cover;
    height: 100vh;
	transition: 0.5s;
}



/*STAGE 1 CONTETN STYLING*/
#stage1 {
	margin-top: 10px;
    padding: 80px;
    margin-left: 200px;
    background-position: center;
    background-size: cover;
    height: 100vh;
	transition: 0.5s;
}

#stage1 h1 {
	font-size: 60px;
	margin-bottom: 5px;
}
#stage1 h2 {
	font-size: 50px;
}
#stage1 h3 {
	font-size: 40px;
	margin-left: 40px;
}
#stage1 h4 {
	margin-left: 60px;
}

#stage1 p {
	color: black;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5625; 
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 60px;
}

#stage1 a {
	background-color: #22242A;
	box-shadow: 0 5px 0 #19B3D3;
	color: #fff;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#stage1 a:hover {
	background-color: #19B3D3;
}

#stage1 a:active {
	background-color: #000066;
}

#stage1 .floatBox {
	overflow:hidden; 
	padding: 20px;
	margin: 0 auto;
}

#stage1 .floatText {
    float: left;
	width: 50%;
}

#stage1 .floatText h4 {
	margin-bottom: 5px;
}

.prettyContainer {
	border: 3px solid #19B3D3;
}



/*STAGE 2 CONTENT STYLING*/
#stage2 h1 {
	font-size: 60px;
	margin-bottom: 5px;
}
#stage2 h2 {
	font-size: 50px;
}
#stage2 h3 {
	font-size: 40px;
	margin-left: 20px;
	margin-bottom: 5px;
}
#stage2 h4 {
	margin-bottom: 5px;
	margin-left: 40px;
}

#stage2 p {
	color: black;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5625; 
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 60px;
}

#stage2 a {
	background-color: #22242A;
	box-shadow: 0 5px 0 #19B3D3;
	color: #fff;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#stage2 a:hover {
	background-color: #19B3D3;
}

#stage2 a:active {
	background-color: #000066;
}

#stage2 table {
	background-color:  #5a5f72;
}

#stage2 table, th, td {
	border: 3px solid black;
}

#stage2 th, td {
	padding: 10px;
}



/*STAGE 3 CONTENT STYLING*/
#stage3 h1 {
	font-size: 60px;
	margin-bottom: 5px;
}
#stage3 h2 {
	font-size: 50px;
}
#stage3 h3 {
	font-size: 40px;
	margin-left: 20px;
	margin-bottom: 5px;
}
#stage3 h4 {
	margin-bottom: 5px;
	margin-left: 40px;
}
#stage3 h5 {
	margin-top: 5px;
}

#stage3 p {
	color: black;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5625; 
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 60px;
}

#stage3 a {
	background-color: #22242A;
	box-shadow: 0 5px 0 #19B3D3;
	color: #fff;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#stage3 a:hover {
	background-color: #19B3D3;
}

#stage3 a:active {
	background-color: #000066;
}

#stage3 table {
	background-color:  #5a5f72;
}

#stage3 table tr #vt {
	background: #107589;
	color: #fff;
}

#stage3 table tr #ht {
	background: #19b3d3;
}



/*STAGE 4 CONTENT STYLING*/
#stage4 h1 {
	font-size: 60px;
	margin-bottom: 5px;
}
#stage4 h2 {
	font-size: 50px;
}
#stage4 h3 {
	font-size: 40px;
	margin-left: 20px;
	margin-bottom: 5px;
}
#stage4 h4 {
	margin-bottom: 5px;
	margin-left: 40px;
}
#stage4 h5 {
	margin-top: 5px;
}

#stage4 p {
	color: black;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5625; 
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 60px;
}

#stage4 a {
	background-color: #22242A;
	box-shadow: 0 5px 0 #19B3D3;
	color: #fff;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#stage4 a:hover {
	background-color: #19B3D3;
}

#stage4 a:active {
	background-color: #000066;
}

#stage4 table {
	background-color:  #5a5f72;
}

#stage4 table tr #vt {
	background: #107589;
	color: #fff;
}

#stage4 table tr #ht {
	background: #19b3d3;
}

.content .card .prettyContainer #stage4HeuristicListElements {
	color: black;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5625; 
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 60px;
	opacity: 0.8;
}



/*STAGE 5 CONTENT STYLING*/
#stage5 h1 {
	font-size: 60px;
	margin-bottom: 5px;
}
#stage5 h2 {
	font-size: 50px;
}
#stage5 h3 {
	font-size: 40px;
	margin-left: 20px;
	margin-bottom: 5px;
}
#stage5 h4 {
	margin-bottom: 5px;
	margin-left: 40px;
}
#stage5 h5 {
	margin-top: 5px;
}

#stage5 p {
	color: black;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5625; 
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 60px;
}

#stage5 a {
	background-color: #22242A;
	box-shadow: 0 5px 0 #19B3D3;
	color: #fff;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#stage5 a:hover {
	background-color: #19B3D3;
}

#stage5 a:active {
	background-color: #000066;
}

#stage5 table {
	background-color:  #5a5f72;
}

#stage5 table tr #vt {
	background: #107589;
	color: #fff;
}

#stage5 table tr #ht {
	background: #19b3d3;
}


.clear {
	clear:both;
	line-height:0;
}

.content .card p {
    background: #fff;
    padding: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    opacity: 0.8;
}

.content .card #Stage5IntroParagraph {
	margin-left: -15px;
	margin-top: -40px;
	margin-bottom: 10px;
}

.menu .TeamMembersShow.show {
    display: block;
}

/*Table IDEO Cards*/
.IdeoCardsTable {
    text-align: center;
    width:600px;
}

#firstItem {
    color: #0B87A6;
    cursor: auto;
}
